<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
            <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-user fa-2x"></i></div>            
            <h1 class="text-center">Epatch</h1>
        </div>
        <nav class="tm-nav" id="tm-nav">            
            <ul>
                <li class="tm-nav-item"><a [routerLink]="['/']" class="tm-nav-link">
                    <i class="fas fa-home"></i>
                    Startpagina
                </a></li>
                <li class="tm-nav-item"><a [routerLink]="['/dagoverzicht']" class="tm-nav-link">
                    <i class="fas fa-calendar-day"></i>
                    Dagelijks overzicht
                </a></li>
                <li class="tm-nav-item active"><a [routerLink]="['/maandoverzicht']" class="tm-nav-link">
                    <i class="fas fa-calendar-alt"></i>
                    Maandelijks overzicht
                </a></li>
                <li class="tm-nav-item"><a [routerLink]="['/voortgang']" class="tm-nav-link">
                    <i class="far fa-chart-bar"></i>
                    Voortgang
                </a></li>
            </ul>
        </nav>
        <div class="tm-mb-65">
            <a href="https://facebook.com" class="tm-social-link">
                <i class="fab fa-facebook tm-social-icon"></i>
            </a>
            <a href="https://twitter.com" class="tm-social-link">
                <i class="fab fa-twitter tm-social-icon"></i>
            </a>
            <a href="https://instagram.com" class="tm-social-link">
                <i class="fab fa-instagram tm-social-icon"></i>
            </a>
            <a href="https://linkedin.com" class="tm-social-link">
                <i class="fab fa-linkedin tm-social-icon"></i>
            </a>
        </div>
        <p class="tm-mb-80 pr-5 text-white">
            Welkom bij de persoonlijke app van uw E-patch.
        </p>
    </div>
</header>
